*{
    background-color: yellow;
    margin: 0;
    padding: 0;
}
h1{
    color: navy;
    text-align: center;
}
.test{
    background-color: white;
    border: 2px solid black;
    txt-align: center;
    margin: 50px;
    padding: 50px;
}